<?xml version="1.0"?>
<robot name="hokuyo_laser" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include the hokuyo_ust10 xacro -->
  <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust10.urdf.xacro"/>

  <link name="world"/>

  <!-- Use the hokuyo_ust10_mount macro -->
  <xacro:hokuyo_ust10_mount prefix="hokuyo" topic="scan" parent_link="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:hokuyo_ust10_mount>

</robot>
